p {
    color: #1f6831;
    font-size: 18px;
    margin: 10px;
}

.class_div {
    background-color: #ffe0b3;
    padding: 15px;
    border: 2px solid orange;
    margin: 10px;
}

#id_div {
    background-color: #c3e0d0;
    border: 10px solid green;
    padding: 15px;
    margin: 10px;
}

.parent span {
    font-weight: bold;
    color: brown;
}
.parent div {
    background: #f0f0f0;
    padding: 5px;
}

h2, h3 {
    background: #57cf75;
    color: white;
    padding: 5px;
    margin: 10px;
}

.hover-link {
    display: inline-block;
    background: #57cf75;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 10px;
}
.hover-link:hover {
    background: #e6a017;
}